span.span1{
    letter-spacing: 10px;
    word-spacing: 10px;
    text-transform: uppercase;
}
span.span2{
    letter-spacing: 10px;
    word-spacing: 10px;
    text-transform: uppercase;
}
span.span3{
    letter-spacing: 10px;
    word-spacing: 10px;
    text-transform: uppercase;
}