h1{
    font-size: 40px;
    font-family: Arial, "Arial Black", "Arial Narrow";
}
h2{
    font-size: 30px;
    font-family: Arial, "Arial Black", "Arial Narrow";
}
h3{
    font-size: 25px;
    font-family: Arial, "Arial Black", "Arial Narrow";
}