h1
{
    background-color: blue;
    color: blueviolet;
}
h2
{
    background-color: rgb(235, 181, 100);
    color: rgb(125, 159, 34);
}
h3
{
    background-color: rgb(241, 18, 18);
    color: rgb(0, 248, 182);
}